@model Taxi.Models.Cars

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Cars</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarkId" class="control-label"></label>
                <select asp-for="MarkId" class ="form-control" asp-items="ViewBag.MarkId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BodyNumber" class="control-label"></label>
                <input asp-for="BodyNumber" class="form-control" />
                <span asp-validation-for="BodyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineNumber" class="control-label"></label>
                <input asp-for="EngineNumber" class="form-control" />
                <span asp-validation-for="EngineNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfLastMaintetance" class="control-label"></label>
                <input asp-for="DateOfLastMaintetance" class="form-control" />
                <span asp-validation-for="DateOfLastMaintetance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Machanic" class="control-label"></label>
                <input asp-for="Machanic" class="form-control" />
                <span asp-validation-for="Machanic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialMarks" class="control-label"></label>
                <input asp-for="SpecialMarks" class="form-control" />
                <span asp-validation-for="SpecialMarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverId" class="control-label"></label>
                <select asp-for="DriverId" class ="form-control" asp-items="ViewBag.DriverId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
