@{
    ViewData["Title"] = "Home Page";
}
<br>
<!DOCTYPE html>
<html>
<head>
    <title>Таксопарк</title>
</head>
<body>

    <div id="headerwrap">
    </div>


    <div class="coutainer" margin-top="-50px">
        <p>
           
            Слово «такси» происходит от французского слова «таксо», которое обозначает средство, используемое для перевозки пассажиров и грузов и оплату проезда.

            История такси берет своё начало во Франции с 18 века, именно там, в это время появились конные экипажи, которые стали называться «фиакры”, в честь покровителя садоводов — святого Фиакра, так как постоялый двор с этими экипажами находился около его часовни. Считается, что они стали первыми в мире общественными экипажами. В конце 19 века технический прогресс вытеснил экипажи с лошадями.
            <img style="float:left;padding:5px;" src="~/images/5a97106f.jpg" />
            На фиакрах установили бензиновый двигатель, рычаги для управления и после изобретения и установки счётчиков (таксометров), эти экипажи стали популярными среди населения, так как легко можно было рассчитать расходы на дорогу.

            Первые автомобили, предназначенные для услуг такси, стала производить компания «Renault», кузов этих машин напоминал «фиакр», шофер сидел отдельно от пассажиров в открытой передней части машины и занимался только управлением такси, а пассажир находился в закрытой части машины и был защищен от непогоды. Такси выделялись среди остальных машин города своим ярким цветом. Какой либо централизованной службы приема заказов и вызовов такси не было, такси просто разъезжали по городу и громко сигналили.

            В России все пути пересекались в Москве. Приезжало и отъезжало большое количество людей, было несколько вокзалов и всё это создавало необходимость развития городского транспорта, который мог бы довозить пассажиров и их багаж до места. Спрос на транспорт был огромен, поэтому в Москве появилось большое количество извозчиков. Отрасль развивалась, для неё необходимы были определенные требования: тарифы, система управления заказами экипажей, организация стоянок. Все это и стало началом рождения такси в России как вида транспорта.

            В 1907 году в России один шофер, повесил на автомобиль плакат ”Извозчик, такса за проезд по соглашению”. Одновременно в Англии на Лондонских улицах появились первые экипажи-такси. Этот год теперь считают днём рождения такси.

            4efb78a709b60268300002a5

            В 1917 году, после революции количество такси в Москве резко снизилось, таксистов почти истребили как класс, и лишь в 1924 году Моссовет решил закупить 200 новых автомобилей – такси марки «Renault» и «Fiat». В 1925 году первые 16 автомобилей марки «Renault» появились на улицах Москвы. Частных такси в это время не было, все они принадлежали и управлялись государством, конкуренция отсутствовала. Это приводило к плохому качеству обслуживания пассажиров, заказать такси было очень сложно, машин-такси не хватало.

            Таксомоторные перевозки были очень прибыльны для правительства Москвы, поэтому правительство стремилось устранить эти недостатки. В Москве стали появляться первые легковые автомобили «ГАЗ», количество такси увеличилось в несколько раз и заказать такси стало проще, потом начали выпускать легковые такси «ЗИС», после появления которых, такси стали общедоступным видом транспорта. В послевоенные годы начинается выпуск автомобилей «Победа», которые стали основным автомобилем такси.

            В 1948 году на машинах-такси была размещена шахматная полоса и зелёный световой, для отличия такси от других автомобилей на улицах.

            В Нью-Йорке первое городское такси было выпущено на линию 13 августа 1907 года. Увеличению количества такси на улицах США в значительной степени помогала мафия, которая владела большинством таксопарков и была заинтересованы в их росте. В Америке, в годы сухого закона не было более надежного транспорта для перевозки запрещенного спиртного, поэтому такси особенно полюбили гангстеры-контрабандисты. В такси перевозили огромное количество алкоголя, но полицейские даже не подозревали таксистов.

            Olympic Games 2012 Feature

            В Японии такси появились совсем недавно, японские таксисты очень вежливы, пунктуальны, обходительны с пассажирами и по праву считаются лучшими таксистами в мире. Работают они исключительно в белых перчатках, на подголовниках своих машин ежедневно меняют кружевные салфетки. Японский водитель во время движения никогда не ведет с пассажиром разговоров, он только управляет автомобилем, и если вы иностранец, то на беседу можете даже не рассчитывать. Поездка будет проходить спокойно, иногда даже скучно.

            В ОАЭ Водители отличаются хорошей репутацией, поэтому, если вы забыли что-нибудь в такси, ваш водитель может попытаться вернуть вам забытую вещь. В противном случае сообщите компании время и маршрут — будет сделано все возможное, чтобы помочь вам.

            Не рекомендуется пользоваться услугами частных такси без счетчика. Они менее комфортабельные, поскольку это обычно старые машины с плохим кондиционером, а водители могут нарочно петлять, чтобы поездка обошлась дороже.

            9fc1928d1166d6a2301678c029ed5784

            В Лондоне такси всегда красятся в чёрный цвет, в Гонконге используют 3 типа окраски такси, чаще всего их красят в красный цвет, в Новой Зеландии применяют зелёный цвет такси, а на островах Лантау – синий. В СССР традиционного цвета такси не существовало. Обычно на заводской, стандартного цвета машине-такси на двери рисовали шахматные клеточки и ставили зелёного цвета фонарик, отчего и произошло название «зеленоглазое такси».

            Сегодня такси является очень распространённым видом общественного транспорта во всём мире и представляет собой целую индустрию, в которой задействованы миллионы людей. Кстати, с развитием всевозможных средств связи  и информационных технологий заказать себе такси стало невероятно просто: это можно сделать по мобильному телефону или даже на сайте любой таксомоторной компании, причём во многих случаях можно выбрать себе не только время прибытия нужного вам транспорта, но даже модель самого автомобиля.
        </p>
    </div>
</body>
</html>




































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































